.jumbotron{
    color: #fff;
    background-image: url('ss.jpg');
    width: 100%;
    
  }
  @media(max-width:540px )
  {
    .jumbotron{
      width: 100%;
      
    }
}
.navbar-light .navbar-toggler-icon{
    border: none;
    color: #fff;
    border: 2px solid #979797;
    border-radius: 0;
    outline: none;
  }
  .navbar-nav.a{
    color: rgb(0, 0, 0);
  }
  .navbar{
    padding: 20px ;
    font-family: 'EB Garamond', serif;
  
  
  }
  .t:hover{
    background-color: rgba(152,194,190,255)
    ;
    color: #fff;
    text-decoration: none;
  }
  .btn:hover{
    background-color: rgba(152,194,190,255)
    ;
    color: #fff;
    text-decoration: none;
  }
  .navbar-brand{
  
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: rgb(0, 0, 0);
  }
  
  .nav-item{
    font-weight: 800;
    text-transform: uppercase;
  
  }
  .nav-item:hover{
    background: #000;
    color: rgb(255, 255, 255);
  } 